/* jQuery UI styles */
.ui-button-text {
    font-size: 9pt;
}

.ui-widget-overlay {
    background: #222222;
    opacity: 0.6;
}

/* App styles */
/* @font-face {
 *   font-family: 'Ek Mukta';
 *   src: url(EkMukta-Light.ttf);
 *     font: 11pt "Helvetica Light", Helvetica, Arial, sans-serif;
 *   font-weight: lighter;
 * }
 */

#body .margin-0 {
    margin: 0px;
}

#body .margin-10 {
    margin: 10px;
}

#body .padding-0 {
    padding: 0px;
}

#body .padding-10 {
    padding: 10px;
}

/*
 * #body.body span:not(.fa, .glyphicon), #body.body p:not(.fa, .glyphicon), #body.body a:not(.fa, .glyphicon) {
 *     font-family: 'Ek Mukta', sans-serif !important;
 * }
 */

.navbar {
    background: #f1f1f2;
    border-bottom: 1px solid #ffffff;
}

.navbar a, .navbar span, .navbar .NavBarLink {
    color: #007886 !important;
}

#NavBarHomeSiteLink, .NavBarLink {
    font-size: 16px;
    font-family: 'Ek Mukta', sans-serif !important;
}

.border-left-none, .border-left-none td:first-child {
    border-left: none;
}

.border-right-none, .border-right-none td:last-child {
    border-right: none;
}

#body .form-control {
    border-radius: 4px;
    border: 1px solid #e3e3e3;
    background: #f4f4f4 !important;
}

#body .left-nav-link.active {
    background-color: rgba(0, 120, 134, 0.22);
    border: none;
    background: rgba(0, 120, 134, 0.22);
}

#body a:hover {
    text-decoration: none;
}

#body .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    border-radius: 3px;
    background: #fafafa;
}

#body .dropdown-menu {
    border-radius: 3px;
    width: 100%;
    color: #000000;
}

#body .left-nav-link.active a {
    font-weight: normal;
}

#body .left-nav-link:hover {
    background: rgba(0, 120, 134, 0.22);
}

#body .nav-tabs>li>a:hover {
    background-color: #ffffff;
}

#body .dropdown-menu>li>a {
    color: #000000 !important;
}

#body .restlab-controls-group {
    margin: 10px;
    padding-bottom: 15px;
}

#body .btn-group a {
    border-radius: 3px;
}

#body #codeEditor {
    border-radius: 3px;
}

#body .ScrollableListControlHeader .btn {
    border: 0;
    border-radius: 3px;
    margin: 0;
    padding: 5px 10px;
    text-align: center;
    background: #eeeeee;
    color: #007886;
    font-weight: normal;
}

#body .btn-horizontal-2 .btn {
    width: 50%;
}
#body .btn-horizontal-1 .btn {
    width: 100%;
}

#body .btn-horizontal-2 .btn:first-child {
    border-right: 1px solid #ffffff;
}

#body .ScrollableListControlHeader .btn:hover {
    background: rgba(60, 113, 119, .9);
    color: #ffffff;
}

#body .ScrollableListControlHeader {
    padding-left: 0;
    padding-right: 0px;
}

#body .btn.btn-primary {
    background: rgba(60, 113, 119, .9);
    border-radius: 3px;
}

#body button:hover .ScrollableListControl {
    color: #ffffff;
}

#body .ResizableTd {
    border: 0;
}

#body #filterJSCode {
    border-radius: 3px;
}

#body #resourcesListTd {
    padding-right: 5px;
}

#body #resourcesListTd.ResizableTd .ScrollableList {
    border-right: 3px solid #aaa;
}

#body #LBlocal a:hover {
    color: #000000;
}

#body #LBwindow a:hover {
    color: #000000;
}

#body .left-nav-link:hover #LBlocal a {
    color: #000000 !important;
}

#body .left-nav-link:hover #LBwindow a {
    color: #000000 !important;
}

#body #navbar-collapse-header {
    background: rgba(0, 120, 134, 0.22) !important;
}

#body label {
    font-weight: bolder;
}

#body #leftBarLiveBrowser .dropdown-menu>li>a {
    padding: 3px 10px;
}

#body #leftBarLiveBrowser ul.dropdown-menu {
    margin-left: -5px;
}

#body .navbar-brand {
    height: 30px;
}

#body .livebrowser-external-window {
    float: right;
    padding-left: 1px;
    position: relative;
    margin-top: -14px;
    cursor: pointer;
}

#body #liveBrowserIframe {
    border: 1px solid #dfdfdf;
}

a {
    /* color: #14b29b; */
    /* color: #0098da; */
    color: #31868e;
    text-decoration: none;
}

.row {
    margin-left: 0px;
    margin-right: -10px;
}

.col-md-12 {
    padding-left: 5px;
}

textarea {
    padding-left: 3px !important;
}

label {
    font-weight: lighter;
    color: #7c6e7e;
}

input[type="text"].form-control, input[type="tel"].form-control, input[type="email"].form-control {
    /*background-color: #f1f1f2;*/
    background: linear-gradient(to right, #f0f0f0, #ffffff);
}

textarea.form-control {
    /*background-color: #f1f1f2;*/
    background: linear-gradient(to right, #f0f0f0, #ffffff);
}

.btn.btn-primary, .btn.btn-default {
    width: 12em;
    padding: 4px;
    padding-left: 1em;
    text-align: left;
    border-radius: 4px;
}

.btn {
    text-align: left;
    border: solid 1px #ffffff;
    border-radius: 3px;
}

.btn:hover {
    border: solid 1px #bbbbbb;
}

.btn-primary {
    /*background-color: #35a9a9;*/
    background: linear-gradient(to right, #35a9a9, #15b9b9);
}

.btn-primary:hover {
    background-color: #31868e;
}

.btn-primary-restlab, .btn.btn-primary-restlab {
    color: #ffffff;
    border-color: #357ebe;
    padding: 4px;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    border: solid 1px #d8d8d8;
    border-radius: 3px;
    /*background-color: #35a9a9;*/
    background: linear-gradient(to right, #35a9a9, #15b9b9);
}

.btn.btn-primary-restlab:hover {
    color: white;
    background-color: #31868e;
}

.btn.btn-primary-restlab-get {
    color: white;
    background-color: #0f6ab4;
    border: 1px solid #c3e8d1;
}

.btn.btn-primary-restlab-put {
    border-right: 1px solid #dddddd;
    background-color: #f9f2e9;
    color: #c5862b;
}

.btn.btn-primary-restlab-post {
    border-right: 1px solid #dddddd;
    background-color: #e7f6ec;
    color: #10a54a;
}

.btn.btn-primary-restlab-patch {
    border-right: 1px solid #dddddd;
    background-color: #f0cecb;
    color: #d38042;
}

.btn.btn-primary-restlab-delete {
    color: white;
    background-color: #c8787a;
    border: 1px solid #c3e8d1;
}

.btn-primary-restlab:hover {
    background-color: #31868e;
}

.btn-default {
    background-color: #f0f0f0;
}

.btn-default:hover {
    background-color: e0e0e0;
}

.btn.btn-success {
    /* empty */
}

.btn-list-control {
    border: 0px;
    margin: 1px;
    background-color: #ffffff;
}

.btn-list-control:hover {
    border: solid 1px #bbbbbb;
}

.form-inline {
    padding-bottom: 7px;
}

.form-inline .form-group {
    padding-right: 10px;
}

.tab-content {
    height: 90%;
}

.tab-pane {
    height: 100%;
}

.modal-content {
    border-radius: 3px;
    background: linear-gradient(-45deg, #e0e0e0, #ffffff);
}

select.form-control {
    font: 11pt "Helvetica Light", Helvetica, Arial, sans-serif;
    font-weight: lighter;
    border-radius: 4px;
    background-color: #f1f1f2;
}

/* Selectize searchable selects */
.selectize-input {
    padding: 5px;
    overflow: visible;
}

div.tab-content {
    padding: 7px;
}

.panel-title {
    font-size: 12pt;
    font-weight: normal;
}

#MainView {
    height: 100%;
}

.SingleRowView {
    height: 100%;
    padding-top: 2px;
    margin-left: 0px;
    margin-right: 0px;
}

.ui-layout-pane {
    padding: 4px;
    padding-left: 7px;
    padding-right: 7px;
}

#navBarDiv {
    height: 35px !important;
    /* overflow: hidden !important; */
    border: 0px !important;
}

.ui-layout-pane-west {
    padding: 0px;
    border: 0px;
    overflow-x: hidden;
    overflow-y: auto;
}

.ui-layout-pane-south {
    overflow: hidden !important;
}

.ui-layout-resizer-west-closed {
    background-image: url(../images/leftbar-vertical.png);
    background-position: 0px 30px;
    background-size: 27px 577px;
    background-repeat: no-repeat;
    background-color: #c1dadd;
    width: 25px !important;
}

.ui-layout-toggler-west-closed {
    border: 0 !important;
    top: 0px !important;
    padding: 5px !important;
    width: 23px !important;
    background-color: inherit !important;
}

.ui-layout-toggler-west-closed>.content-closed {
    color: #ffffff !important;
    font-size: 12pt !important;
}

.ui-layout-toggler-west-closed>.content-closed:hover {
    color: #31868e !important;
}

.ui-layout-pane-center {
    border: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.ui-layout-pane-east {
    border: 0px;
}

.form-horizontal .form-group {
    margin-left: 0px;
}

/*******************************/
/* Nav bar */
#NavBarHomeSiteLink, #NavBarHomeSiteLink:hover {
    color: #bdbfc1;
    font-weight: normal;
    text-decoration: none;
}

#NavBarHomeLink, #NavBarHomeLink:hover {
    color: #6d6e70;
    font-weight: normal;
    text-decoration: none;
}

.NavBarLink, .NavBarLink:hover {
    font-size: 12pt;
    color: #6d6e70;
    font-weight: normal;
    text-decoration: none;
}

#navbar-collapse:hover {
    color: #31868e !important;
}

.navbar-collapse.collapse {
    height: 35px !important;
}

.navbar {
    min-height: 35px !important;
    height: 35px !important;
    margin-bottom: 5px;
}

.navbar-brand {
    padding-top: 7px !important;
}

div.modal.fade.in {
    display: block !important;
}

div.modal-dialog {
    background-color: #ffffff;
}

input, select, textarea {
    font: 11pt "Helvetica Light", Helvetica, Arial, sans-serif;
    font-weight: lighter;
}

ul.nav.nav-tabs {
    cursor: pointer;
}

.nav {
    cursor: pointer;
}

.nav:hover {
    cursor: pointer;
}

/*****************************/
/* Side bar */
#navbar-collapse-header {
    background-color: #d8e7e8 !important;
    padding-right: 10px;
}

.left-nav-header {
    /*color: #31868e;*/
    color: #347178;
    background-color: #ffffff;
    padding-top: 15px;
    padding-left: 5px;
    border: solid 1px #347178;
    border-top: none;
    border-left: none;
    border-right: none;
    font-weight: bold;
    margin-top: 2px;
    margin-right: 2px;
}

.left-nav-header .left-nav-closed {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    writing-mode: tb-rl;
}

.left-nav-link {
    padding: 3px;
    padding-left: 15px;
    margin-right: 2px;
    background-color: #ffffff;
    border-bottom: none;
    border-right: none;
    color: #777777 !important;
    transition: background-color 0.3s;
}

.left-nav-link:hover {
    background-color: rgba(0, 120, 134, 0.22);
    color: #347178;
}

.left-nav-link.active {
    font-weight: bold !important;
    /*background-color: #31868e;*/
    /*background: linear-gradient(to right, #c7B69e, #d7C6ae);*/
    /*background: linear-gradient(to right, #c1dadd, #d1eaed);*/
    border: solid 2px #31868e;
    border-left: 0px;
}

.left-nav-link>a {
    color: #777777 !important;
    display: block;
    width: 100%;
    height: 100%;
}

.left-nav-link.active>a {
    color: #347178 !important;
}

.left-nav-link .left-nav-closed {
    display: none;
}

.nav>li>a {
    padding-top: 2px;
    padding-bottom: 5px;
}

/* For the context help, e.g. ? buttons */
.ContextHelpButton {
    color: #888888 !important;
    text-decoration: none;
}

.ContextHelpButton:hover {
    text-decoration: none;
}

.btn-success {
    background-color: #14b29b;
    background-image: -webkit-linear-gradient(top, rgb(20, 178, 155), rgb(15, 155, 85));
}

.nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active>a:focus {
    background-color: #14b29b;
}

.navbar-inner {
    /* background-color: #e4e4e4; -- fallback color */
    background-color: #ffffff;
    background-image: none;
    background-repeat: no-repeat;
    filter: none;

    /* Gradients for modern browsers, replace as you see fit */
    /* background-image: -moz-linear-gradient(top, #eeeeee, #dddddd); */
    /* background-image: -ms-linear-gradient(top, #eeeeee, #dddddd); */
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee), to(#dddddd)); */
    /* background-image: -webkit-linear-gradient(top, #eeeeee, #dddddd); */
    /* background-image: -o-linear-gradient(top, #eeeeee, #dddddd); */
    /* background-image: linear-gradient(top, #eeeeee, #dddddd); */
    /* background-repeat: repeat-x; *./

    /* IE8-9 gradient filter */
    /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#dddddd', GradientType=0); */
}

h3 {
    padding: 4px;
    margin: 4px;
}

textarea {
    width: 20em;
}

.MainView {
    height: 100%;
    width: 100%;
    /* overflow: auto; */
}

.sidebar-nav {
    padding: 8px;
}

select {
    width: auto;
}

select option {
    padding: 3px;
}

.StatusBarTitle {
    color: #777777;
}

.StatusBarStatus {
    color: #888888;
    background-color: #dddddd;
    font: 10pt Verdana, sans-serif;
    width: 100px;
    right: 10px;
}

.MessageBox {
    padding: 7px;
    min-width: 500px;
    max-width: 500px;
    font: 11pt Verdana, sans-serif;
    border: solid 1px #777777;
    -moz-border-radius: 8px;
    border-radius: 8px;
    z-index: 100000;
}

.MessageBoxClose {
    margin-left: 30px;
    margin-right: 8px;
    float: right;
    cursor: default;
    color: #888888;
}

.MessageBoxClose:hover {
    font-weight: bold;
    color: #000000;
}

.AlertInfo {
    background-color: #bbeebb;
}

.AlertWarning {
    background-color: #ffffdd;
}

.AlertError {
    background-color: #ffdddd;
}
/*
.modal {
    width: 760px;
    margin-left: -380px;
}
*/
.help-dialog {
    font-size: 11pt;
}

.ObjectList option {
    font: 11pt Verdana, sans-serif;
    background-color: #eeeeff;
    padding: 3px;
    margin: 2px;
}

.ObjectList option:hover {
    background-color: #ccccdd;
}

.ObjectListButton {
    background-color: #dddddd;
    padding: 6px;
    margin: 5px;
}

.ObjectSelect {
    font: 11pt Verdana, sans-serif;
    background-color: #eeeeff;
    padding: 3px;
    margin: 2px;
}

.RuleListItem {
    background-color: #dddddd;
    padding: 3px;
    margin-bottom: 5px;
    cursor: pointer;
}

.RuleListItemSelected {
    background-color: #c1dadd;
    padding: 3px;
    margin-bottom: 5px;
    cursor: pointer;
}

.Checklist {
    cursor: pointer;
    padding: 4px;
}

.Selected {
    background-color: #c1dadd;
}

.ResizableColumn {
    width: 100%;
    float: top;
    /* padding: 3px; */
    overflow: auto;
    /* font: 10pt bold Verdana, sans-serif;
    background-color: #ffffff; */
}

.ResizableColumnTitle {
    font: bold 12pt Verdana, sans-serif;
    color: #ffffff;
    background-color: #444444;
    padding: 3px;
    padding-bottom: 7px;
}

.NonNullColumn {
    color: #000000;
}

.NullableColumn {
    color: #999999;
}

.hint {
    font: normal 8pt Verdana, sans-serif;
    color: #777777;
    padding: 5px;
}

.accordion-heading {
    background-color: #eeeeee;
}

.ResizableTd {
    border: solid 1px #cccccc;
    border-right: solid 5px #cccccc;
    margin-right: 5px;
    padding: 0px;
    vertical-align: top;
}

.ResizableBodyTd {
    vertical-align: top;
    padding: 4px;
}

/***************************/
/* Selectable list */
.ScrollableList>option[selected] {
    background-color: #c1dadd;
}

.ScrollableList {
    padding: 0px;
    background-color: #ffffff;
    vertical-align: top;
}

.ScrollableListHeader {
    border-bottom: 1px solid #ffffff;
    font-weight: bold;
    color: #666;
    /*background-color: #c1dadd;*/
    padding-left: 5px;
    padding-bottom: 1px;
    padding-top: 2px;
}

.ScrollableListControlHeader {
    font-weight: bold;
    padding: 3px;
    padding-top: 0px;
    padding-bottom: 0px;
    align: center;
    border-bottom: solid 1px #bbbbbb;
}

.ScrollableListControlHeader button {
    border: solid 1px #ffffff;
    font-size: 10pt;
    font-weight: bold;
    color: #6d6e70;
}

.ScrollableListControl {
    color: #007886;
}

.ScrollableListControlWarn {
    color: #ee842e;
}

.ScrollableList {
    overflow: auto;
}

.SelectedItem {
    padding: 3px;
    background-color: #c1dadd;
    color: #303030;
    cursor: pointer;
}

.OddItem {
    padding: 3px;
    background-color: #ffffff;
    cursor: pointer;
}

.ExpandableItem:before {
    content: "&#2295;"
}

.CollapsableItem:before {
    content: "&#2296;"
}

.EvenItem {
    padding: 3px;
    background-color: #ffffff;
    cursor: pointer;
}

.ShowMoreItem {
    padding: 3px;
    background-color: #ddeedd;
    cursor: pointer;
}

/****************************/
.SelectedListItem {
    cursor: pointer;
    padding: 2px;
    background-color: #ccccdd;
}

.UnselectedListItem {
    cursor: pointer;
    padding: 2px;
    background-color: inherited;
}

.CreateDeleteButtonContainer {
    padding: 4px;
    margin: 5px;
    align: center;
}

.CreateDeleteButton {
    padding: 3px;
    margin: 0px;
}

.ResourceTree {
    font: 10pt normal Verdana, sans-serif;
    background-color: #ffffff !important;
    padding: 3px;
}

.Rule {
    font: 11pt normal Verdana, sans-serif;
    text-decoration: none;
    border-bottom: dotted 1px #888888;
    margin: 3px;
}

.RuleInactive {
    font: 11pt normal Verdana, sans-serif;
    text-decoration: none;
    border-bottom: dotted 1px #888888;
    color: #888888;
    margin: 3px;
}

.RuleTopic {
    font: 9pt normal Verdana, sans-serif;
    border: solid 1px #999999;
    padding: 4px;
    margin: 2px;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
}

.RuleTopic:hover {
    border: solid 1px #000000;
    opacity: 0.7;
}

.sortable-header {
    cursor: pointer;
    white-space: nowrap;
}

.ace_gutter-cell.ace_breakpoint {
    border-radius: 20px 0px 0px 20px;
    box-shadow: 0px 0px 1px 1px red inset;
}

.TxSummaryItemInsert>.panel-heading {
    background-color: #fff5cc;
}

.TxSummaryItemUpdate>.panel-heading {
    background-color: #d6ffcc;
}

.TxSummaryItemDelete>.panel-heading {
    background-color: #ffdbcc;
}

#loggersTable>tbody>tr>td>label {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 20px;
}

.CopyrightNotice {
    font: 8pt Verdana, sans-serif;
    color: #999999;
}

/**************************************/
/* Debugger */
div.LogicTreeContainer {
    padding: 7px;
    border: solid 1px #eeeeee;
    overflow: auto;
}

.LogicTree {
    font: 10pt Verdana, sans-serif;
    border-collapse: collapse;
}

.LogicTreeRow {
    background-color: #ffffff;
    cursor: pointer;
    padding: 0px;
}

.LogicTreeRow:hover {
    background-color: #eeeeff;
    cursor: pointer;
}

.LogicTreeRowSel {
    background-color: #e0e0e8;
}

.LogicTreeRowCell {
    padding-top: 0px;
    padding-bottom: 0px;
}

.LogicTreeSpacer {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-right: 10px;
    border-left: solid 1px #999999;
}

.LogicTreeEvent {
    font-size: 9pt;
    background-color: #55ff55;
    border: solid 1px #888888;
    width: 1em;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 3px;
    padding-left: 3px;
    margin-right: 3px;
}

.LogicTreeBegin {
    background-color: #ffffff;
}

.LogicTreeParentCopy {
    background-color: #dd5a9d;
}

.LogicTreeFormula {
    background-color: #dda2c0;
}

.LogicTreeAggregate {
    background-color: #6c75eb;
}

.LogicTreeValidation {
    background-color: #a2a6db;
}

.LogicTreeBeginEvent {
    background-color: #e0bd5b;
}

.LogicTreeAfterEvent {
    background-color: #e0d0a5;
}

.LogicTreeBeforeCommit {
    background-color: #aedf5b;
}

.LogicTreeAfterCommit {
    background-color: #c9dfa4;
}

.EventPropTable {
    font: 10pt Verdana, sans-serif;
}

.EventPropName {
    text-align: right;
    background-color: #bbbbbb;
    padding: 6px;
}

.EventPropValue {
    padding: 5px;
}

input.VarInput {
    font: 9pt Verdana, sans-serif;
    width: 100%;
    border: none;
    padding: 1px;
    margin-bottom: 0px;
    line-height: normal;
    height: auto;
    background-color: #ffffff;
    -webkit-box-shadow: none;
    cursor: text;
}

div.DebugValue {
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/**************************************/
/* Logging */
.LogLineEven {
    background-color: #ffffff;
    line-height:18px;
}

.LogLineOdd {
    background-color: #dddddd;
    line-height:18px;
}

.LogLevelFINEST {
    background-color: #397249;
}

.LogLevelFINER {
    background-color: #628b61;
}

.LogLevelFINE {
    background-color: #9cb770;
}

.LogLevelINFO {
    background-color: #c7e1ba;
}

.LogLevelWARNING {
    background-color: #f6e4cc;
}

.LogLevelERROR {
    background-color: #f3d5bd;
}

.LogLineExpand {
    float: left;
    height: 1.16em;
    width: 22px;
    background-color: #dddddd;
    cursor: default;
    text-align: center;
    margin: 0px;
}

.LogLineNumber {
    min-width: 30px;
    text-align: right;
    float: left;
    padding-right: 4px;
    height: 1.16em;
}

.LogLineLogger {
    min-width: 3.5em;
    max-width: 3.5em;
    background-color: #cccccc;
    padding-right: 5px;
    padding-left: 4px;
    float: left;
}

/*************************************************************/
/* Server info */
.PropTable {
    font: 10pt Verdana, sans-serif;
}

.PropTableName {
    text-align: right;
    background-color: #bbbbbb;
    padding: 6px;
}

.PropTableValue {
    padding: 5px;
}

/*************************************************************/
/* Date/time picker styles */
.ui-timepicker-div .ui-widget-header {
    margin-bottom: 8px;
}

.ui-timepicker-div dl {
    text-align: left;
}

.ui-timepicker-div dl dt {
    height: 25px;
    margin-bottom: -25px;
}

.ui-timepicker-div dl dd {
    margin: 0 10px 10px 65px;
}

.ui-timepicker-div td {
    font-size: 90%;
}

.ui-tpicker-grid-label {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

.ui-timepicker-rtl {
    direction: rtl;
}

.ui-timepicker-rtl dl {
    text-align: right;
}

.ui-timepicker-rtl dl dd {
    margin: 0 65px 10px 10px;
}

.myanimate {

}

.myanimate.ng-enter, .myanimate.ng-leave {
    -webkit-transition: 0.5s linear all;
    transition: 0.5s linear all;
}

.myanimate.ng-enter, .myanimate.ng-leave.ng-leave-active {
    opacity: 0;
    /* top: -50px; */
    /* height: 0px; */
}

.myanimate.ng-leave, .myanimate.ng-enter.ng-enter-active {
    opacity: 1;
    /* top: 0; */
    /* height: 30px;  */
}

/* REST Lab :: /projects/200/restlab */
.response-header {
    background-color: #94d1a6;
}

.response-header.outdated {
    background-color: #cfcfcf;
}

.ui-layout-north {
    z-index: 10 !important;
    overflow: visible !important;
    padding: 0;
}

.ui-layout-north nav {
    position: relative;
}

.ui-layout-south {
    z-index: 0 !important;
}

.ui-layout-west {
    z-index: 0 !important;
}

.ui-layout-east {
    z-index: 0 !important;
}

.ui-layout-east div {
    z-index: 0 !important;
    padding: 2px;
}

.ui-layout-east iframe {
    z-index: 0 !important;
}

/* navbar.html */
.project-menu .flyout-menu-toggle {
    width: 100%;
    padding-right: 1em;
    margin: 2px;
    min-width: 250px;
    padding-top: 5px;
    position: relative;
}

.project-menu .flyout-menu-toggle:hover {
    cursor: pointer;
}

.project-menu .dropdown-menu {
    position: relative;
}

.project-menu .divider {
    height: 5px;
    padding: 0 1em;
    margin: 0;
}

.project-menu li {
    padding: 5px 1em;
    width: 100%;
    border: 2px solid #ffffff;
}

.project-menu li:hover {
    background-color: #eee;
    border: 2px solid #eee;
    cursor: pointer;
}

/* Connection Wizard */
.el-connwiz-left-align {
    float: left;
}

.el-connwiz-right-align {
    float: right;
}

.el-connwiz-modal-header {
    background: linear-gradient(to right, #35a9a9, #15b9b9);
    /* background: #008d8d; */
    color: white;
}

.el-connwiz-modal-header strong {
    font-size: 14pt;
    display: block;
    position: absolute;
    vertical-align: bottom;
    right: 10px;
    margin-top: -15px;
}

.el-connwiz-modal-header button {
    vertical-align: top;
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    color: black !important;
}

.btn-primary-connwiz, .btn.btn-primary-connwiz {
    color: #ffffff;
    border-color: #357ebd;
    padding: 4px;
    text-align: center;
    border: solid 1px #d8d8d8;
    border-radius: 4px;
    background: linear-gradient(to right, #35a9a9, #15b9b9);
}

.btn.btn-primary-connwiz:hover {
    background-color: #31868e;
}

.btn-primary-connwiz:hover {
    background-color: #31868e;
}

.modal-content {
    border: none;
}

/*********************************/
/* Tour */
.tour-backdrop {
    opacity: 0.5;
}

.tour-step-background {
    opacity: 0.3;
    border: solid 3px #ff0000;
}

.tour-logicDesignerTour .btn {
    width: auto;
    padding-left: 0.5em;
    border-radius: 3px;
}

.tour-bold {
    color: Darkblue;
}

/********************************/
/* Learning */
.learn-step {
    padding: 5px;
    margin: 2px;
    cursor: pointer;
}

.learn-step-todo {
    background-color: #f5bca9;
}

.learn-step-marker-todo {
    color: #ff0000;
}

.learn-step-done {
    color: #777777;
    background-color: #5cb85c;
}

.learn-step-marker-done {
    color: #555555;
}

.popover.tour {
    max-width: 450px;
}

.popover .popover-navigation button {
    border-radius: 6px;
    padding: 3px;
    z-index: 1200;
}

.tour-step-background {
    z-index: 1000;
}

/********************************/
#toggleContextHelpButton {
    cursor: pointer;
}

.el-layout-container .column {
    padding: 10px;
    margin: 0;
    background: #eeeeee;
    border: 1px solid #e0e0e0;
}

.el-layout-container .columns {
    position: absolute;
}

.el-layout-container {
    display: block;
    width: 100%;
}

.el-whole {
    width: 90%;
    float: left;
    margin-right: 3%;
}

.el-half {
    width: 45%;
    float: left;
    margin-right: 3%;
}

.el-sixth-span1 {
    float: left;
    width: 15%;
    margin-right: 1.5%;
}

.el-sixth-span2 {
    float: left;
    width: 31%;
    margin-right: 1.5%;
}

.el-clearfix {
    clear: both;
}

.inline-block {
    display: inline-block;
}

.margin-25 {
    margin: 25px;
}

.btn.btn-default.btn-icon {
    width: auto;
    padding: 5px;
    display: inline;
}

.relationship-column-plus-minus {
    margin-top: 30px;
    margin-left: 20px;
}

.relationship-meta textarea {
    width: 90%;
}

.radio input[type=radio], .radio-inline input[type=radio], .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox]
    {
    position: relative;
    margin: 4px;
}

.mfp-wrap {
    z-index: 9999 !important;
}

.disappear {
    width:1px !important;
    height: 1px !important;
    background: #ffffff;
}

/*** SUB RESOURCE MODAL ***/
.sub-resource-modal {
    padding: 10px;
}

#body .sub-resource-modal textarea {
    background: #dbdbdb !important;
    color: #8b8b8b;
}

.modal-close-x {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 10px;
    cursor: pointer;
}

.sub-resource-create-relationship-button {
    float:right;
    margin-left: -100%;
    margin-top: -30px;
}

#first-resource-container, #second-resource-container, #second-resource-container > ul > li {
    margin:0;
}

#first-resource-container > ins, #second-resource-container > ins {
    display:none;
}

#first-resource-container > a, #second-resource-container > a {
    display:none;
}

#body .input-group .form-control {
    border-radius:0px;
}

/* EVAL MODE */
.evalModeContainer { padding:10px; font-weight:bold; color:#347178; white-space: nowrap; cursor: pointer; }

.specify-db-form td i{ padding-left: 12px; }

/* FONT SIZES */
.font-plus-10 {
    font-size: 1.1em;
}

.font-plus-20 {
    font-size: 1.2em;
}

.font-plus-50 {
    font-size: 1.5em;
}

.font-plus-100 {
    font-size: 2em;
}

/* FONT COLORS */
.tint-red {
    color: #a15858;
}

.tint-green {
    color: #669d60; 
}

.tint-yellow {
    color: #c2b662;
}

.btn {
    transition: all 0.5s ease;
}

.btn-warning {
   transition: all 0.5s ease;
}

/* disabled until @database_test requests are updated */
.connection-indicator-container {
    display:none;
}

.selected-project {
    background: #c6e0e3;
}

.panel.panel-default {
    overflow:hidden;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-right-10 {
    margin-right:10px;
}

.margin-10{ margin:10px; }

.display-inline-block {
    display: inline-block !important;
}

.width-300 {
    width: 300px !important;
}

.restlab-filters-container {
    background: #f9f9f9;
    border-radius: 8px;
}
