<div class="modal-column-container" style="font-size: 12pt;">
	<h4>Espresso Logic Live Browser</h4>
	<div><b>Version</b>: 1.0</div>
	<div><b>Build</b>: {build}</div>
	<p/>
	<div><b>Service</b>: {{currentServer}}</div>
	<div><b>User name</b>: {{currentUserName}}</div>
	<p/>
	
	<accordion close-others="oneAtATime">
		<accordion-group heading="Credits" is-open="true">
			Live Browser was created by:
			<ul>
				<li>Val Huber, CTO and chief idea-haver</li>
				<li>Michael Holleran, programmer extraordinaire</li>
				<li>David Hewitt, the sage of Toronto</li>
				<li>Hima Kalapatapu, the great finder of bugs</li>
				<li>Max Tardiveau, a most knowledgeable fellow</li>
			</ul>
			Many thanks also to our early testers, we could not have done it without you!
		</accordion-group>
		<accordion-group heading="Thanks" is-open="false">
			Many thanks to the following open-source projects, which were invaluable:
			<ul>
				<li><a href="http://www.getangular.com" target="outside">AngularJS</a>,
					a superb JavaScript framework.
				<li><a href="http://www.getbootstrap.com" target="outside">Bootstrap</a>,
					the world's leading web front-end framework.
				<li><a href="http://jquery.com" target="outside">jQuery</a>,
					a JavaScript library so enormously popular, it needs no introduction.
				<li><a href="http://underscorejs.org" target="outside">Underscore.js</a>,
					a very nifty and well-thought-out JavaScript library.
				<li><a href="http://jqueryui.com" target="outside">jQuery UI</a>,
					a great set of web widgets.
				<li><a href="http://layout.jquery-dev.net/" target="outside">jQuery UI Layout Plug-in</a>,
					indispensible for managing complex layouts.
				<li><a href="http://angular-ui.github.io/" target="outside">AngularUI</a>,
					a bunch of great widgets and utilities for Angular.
			</ul>
		</accordion-group>
	</accordion>
	
	<div class="small text-muted">
	Copyright 2014, Espresso Logic Inc.
	</div>
</div>
