<div parent-draggable class="modal-column-container">
    <h3 class="dragHandle dragModalHandle">Column Details:</h3>
    <table class="table">
        <thead></thead>
        <tbody>
            <tr>
                <td><label>Display Name</label></td>
                <td><input ng-trim='false' ng-blur="checkAliasValue();" ng-model="form.alias" type="text"/></td>
            </tr>
            <tr>
                <td><label>Default Value</label></td>
                <td><input ng-trim='false' ng-model="form.default" type="text"/></td>
            </tr>
            <tr ng-hide="unmaskable">
                <td><label>Default Cell Formats</label></td>
                <td>
                    <select ng-model="form.mask" ng-options="label for ( label , value ) in defaults"></select>
                </td>
            </tr>
            <tr ng-hide="unmaskable">
                <td ng-hide="hide_cellFormat"><label>Cell Format</label></td>
                <td ng-hide="hide_cellFormat">
                    <input ng-trim='false' ng-model="form.mask" />
                </td>
            </tr>
            <tr ng-hide="unmaskable">
                <td ng-hide="!hide_cellFormat"><label>Downloadable</label></td>
                <td ng-hide="!hide_cellFormat">
                    <input ng-trim='false' ng-model="form.downloadable" type="checkbox"/>
                </td>
            </tr>
            <tr>
                <td><label>Name</label></td>
                <td>{{columnInfo.name}}</td>
            </tr>
            <tr>
                <td><label>Editable</label></td>
                <td>{{columnInfo.is_editable}}</td>
            </tr> 
            <tr>
                <td><label>Max Size</label></td>
                <td>{{columnInfo.size}}</td>
            </tr>
            <tr>
                <td><label>Type</label></td>
                <td>{{columnInfo.type}}</td>
            </tr>
            <tr>
                <td><label>Expressions</label></td>
                <td>
                    <ul class="horizontal-menu tabset">
                        <li class="expression-tab index-{{$index}}" ng-repeat="exp in eval" ng-click="activateExpression($index);" data-eval-index="{{$index}}">{{$index+1}}</li>
                        <li ng-click="addExp();"><i class="fa fa-plus"></i></li>
                        <li ng-click="expressionInfo();"><i class="fa fa-question-circle"></i></li>
                    </ul>
                    <div class="active-exp" ng-if="activeExp">
                        <form class="form-line">
	                        <div class="input-group margin2">
	                           <div class="input-group-addon">Evaluation:&nbsp;</div>
	                           <input ng-trim='false' class="form-control expression-input" ng-model="activeExp.expression" placeholder="Expression"/>
	                        </div>
	                        <div class="input-group margin2">
	                           <div class="input-group-addon">CSS Selector:</div>
	                            <input ng-trim='false' class="form-control expression-input " placeholder='CSS Selector' ng-model="activeExp.selector" />
	                        </div>
	                        <div class="input-group margin2" title="Styles applied when the expression is met">
	                           <div class="input-group-addon">onTrue Styles:&nbsp;</div>
	                            <textarea class="form-control expression-input " rows="2" placeholder='CSS styles when "TRUE"' ng-model="activeExp.onTrue"></textarea>
	                        </div>
	                        <div class="input-group margin2" title="Styles applied when the expression is unmet">
	                           <div class="input-group-addon">onFalse Styles:</div>
	                            <textarea class="form-control expression-input " placeholder='CSS styles when "FALSE"' ng-model="activeExp.onFalse"></textarea>
	                        </div>
	                        <br/>
	                        <fieldset ng-click="deleteExpression();" class="btn btn-default"><i class="fa fa-minus"></i> Remove Expression</fieldset>
                        </form>
                    </div>
                </td>
            </tr>
			<tr ng-if="columnInfo.isFk">
				<td><label>Default Lookup Filters</label></td>
				<td>
					<select ng-model="form.filterParentColumn" ng-options="column.name as column.name for column in parentColumns"></select> TO
					<select ng-model="form.filterRowColumn" ng-options="column.name as column.alias for column in columns"></select>
					<br/>
					<span><small>Select the parent column filtered TO this child row value.</small></span>
				</td>
				<td><button ng-click="clearDefaultFilters();"><i class="fa fa-trash-o"></i></button></td>
			</tr>
			<tr ng-if="columnInfo.isFk">
				<td><label> </label></td>
				<td>
					
				</td>
				<td> </td>
			</tr>
            <tr ng-show="showBinaryOptions">
                <td>Binary Type</td>
                <td>
                    <select ng-model="$parent.binaryType" ng-change="updateApplicableExtensions();" ng-options="type for type in binaryTypes">
                        <option value="">-- binary --</option>
                    </select>
                </td>
            </tr>
            <tr ng-show="showExtensionOptions">
                <td>File Extension</td>
                <td><select ng-model="extensionType" ng-options="type.name for type in applicableExtensions"></select></td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-info" ui-keyup="{'enter':'close()'}" ng-click="close();">Save</button>
    <button class="btn btn-info" ng-click="applySettings();">Apply</button>
</div>