<div ng-controller="kahuna.home.NavCtrl">
<div id='navMask' ng-show="navMaskEnabled"
	style='width: 100%; height: 300%; position: absolute; z-index: 1300 !important; background-color: #666666; opacity: 0.9;'>
	<button id="navContinue" ng-click='learnContinue()' 
		style='position: absolute; left: 20px; top: 100px; padding-top: 10px; padding-bottom: 10px; background-color: #FFFF88;'>Continue</button>
</div>
<table style="width: 100%;">
	<tr>
		<td class="left-nav-link" id="navbar-collapse-header">
			<span class="pull-right" id="navbar-collapse" style="color: #FFFFFF; cursor: pointer;" onclick="kahuna.toggleLeftNav()">&#9668;</span>
		</td>
	</tr>
</table>
<table ng-show="!params.evalMode" style="width: 100%;">
	<tr><td class="left-nav-header">Run</td></tr>
	<tr><td class="left-nav-link leftBarRestLab" ng-class="{true: 'active', false: ''}[currentPage == 'restlab']">
			<a title="API testing" href="#/projects/{{currentProject.ident}}/restlab">REST&nbsp;Lab</a></td></tr>
	<tr>
		<td class="left-nav-link leftBarLiveBrowser" id="">
			<a title="Data Management" href="#/livebrowser" id="lbLink" ng-mouseover="updateLiveBrowserUrl(currentProject);">Live&nbsp;Browser</a>
			<a ng-click="openLiveBrowserExternal();" href="javascript:void(0);" ng-mouseover="updateLiveBrowserUrl(currentProject);">
				<span class="fa fa-external-link livebrowser-external-window"></span>
			</a>
		</td>
	</tr>
	<tr><td class="left-nav-link" ng-class="{true: 'active', false: ''}[currentPage == 'logs']">
			<a title="Debug rules, SQL" href="#/projects/{{currentProject.ident}}/logs">Logs</a></td></tr>

	<tr><td class="left-nav-header">REST API</td></tr>
	<tr><td class="left-nav-link">
		<a title="Create by connecting to a database" href="#/projects" id="leftNavProjects" ng-click="connectWizard();">Create...</a></td></tr>
	<tr><td class="left-nav-link leftBarResources" ng-class="{true: 'active', false: ''}[currentPage == 'resources']" id="leftBarResources">
		<a title="Nested endpoints, select/alias columns" href="#/projects/{{currentProject.ident}}/resources">Custom Resources</a></td></tr>
	<tr><td class="left-nav-link" ng-class="{true: 'active', false: ''}[currentPage == 'projects']">
		<a title="Manage Settings & Libraries" href="#/projects" id="leftNavProjects">Project Properties</a></td></tr>
	<tr><td class="left-nav-link" ng-class="{true: 'active', false: ''}[currentPage == 'apiversions']">
		<a title="" href="#/projects/{{currentProject.ident}}/apiversions">API Versions</a></td></tr>
	<tr><td class="left-nav-link" ng-class="{true: 'active', false: ''}[currentPage == 'apidocs']">
		<a title="Documentation, Samples, & References" href="#/projects/{{currentProject.ident}}/apidocs">Quick&nbsp;Ref</a></td></tr>
	<tr><td class="left-nav-link" ng-class="{true: 'active', false: ''}[currentPage == 'handlers']">
		<a title="URL Endpoint Logic" href="#/projects/{{currentProject.ident}}/handlers">HTTP&nbsp;Handlers</a></td></tr>

	<tr><td class="left-nav-header">Integrate</td></tr>
	<tr><td class="left-nav-link leftBarIntegrate" ng-class="{true: 'active', false: ''}[currentPage == 'databases']">
		<a title="SQL, NoSQL, ERP, REST" href="#/projects/{{currentProject.ident}}/databases">Data Sources</a></td></tr>
	<tr><td class="left-nav-link" ng-class="{true: 'active', false: ''}[currentPage == 'schema']">
		<a title="Data Source Tables, Views, & Procedures" href="#/projects/{{currentProject.ident}}/schema">Schema</a></td></tr>

	<tr><td class="left-nav-header">Logic</td></tr>
	<tr><td class="left-nav-link" ng-class="{true: 'active', false: ''}[currentPage == 'rules']">
		<a title="Multi-table derivations and validations, events" href="#/projects/{{currentProject.ident}}/rules">Rules / JS</a></td></tr>
	<tr><td class="left-nav-link" ng-class="{true: 'active', false: ''}[currentPage == 'events']">
		<a title="Request/Response Event Logic" href="#/projects/{{currentProject.ident}}/events">Request&nbsp;Events</a></td></tr>

	<tr><td class="left-nav-header">Runtime</td></tr>
	<tr><td class="left-nav-link" ng-class="{true: 'active', false: ''}[currentPage == 'problems']">
		<a title="" href="#/projects/{{currentProject.ident}}/problems">Issues</a></td></tr>
	<tr><td class="left-nav-link" ng-class="{true: 'active', false: ''}[currentPage == 'perf']">
		<a title="Data Source Monitoring" href="#/projects/{{currentProject.ident}}/perf">Metrics</a></td></tr>

	<tr><td class="left-nav-header">Security</td></tr>
	<tr><td class="left-nav-link" ng-class="{true: 'active', false: ''}[currentPage == 'apikeys']">
		<a title="Key GLobals & Role Assignment" href="#/projects/{{currentProject.ident}}/apikeys">API&nbsp;Keys</a></td></tr>
	<tr><td class="left-nav-link leftBarRoles" ng-class="{true: 'active', false: ''}[currentPage == 'roles']">
		<a title="Row, Col Security" href="#/projects/{{currentProject.ident}}/roles">Roles</a></td></tr>
	<tr><td class="left-nav-link" ng-class="{true: 'active', false: ''}[currentPage == 'users']" id="leftBarUsers">
		<a title="User Globals & Role Assignment" href="#/projects/{{currentProject.ident}}/users">Users</a></td></tr>
</table>

<!-- EVAL MENU -->
<table ng-show="params.evalMode" style="width: 100%;">
	<tr><td class="left-nav-header">Run</td></tr>
	<tr><td class="left-nav-link leftBarRestLab-short" ng-class="{true: 'active', false: ''}[currentPage == 'restlab']" id="leftBarRestLab">
		<a title="API testing" href="#/projects/{{currentProject.ident}}/restlab">REST&nbsp;Lab</a></td></tr>
	<tr><td class="left-nav-link leftBarLiveBrowser-short" id="leftBarLiveBrowser">
			<a title="Data Management" href="#/livebrowser" id="lbLink" ng-mouseover="updateLiveBrowserUrl(currentProject);">Live&nbsp;Browser</a>
			<a ng-click="openLiveBrowserExternal();" href="javascript:void(0);" ng-mouseover="updateLiveBrowserUrl(currentProject);">
			<span class="fa fa-external-link livebrowser-external-window"></span>
		</a>
	</td></tr>
	<tr><td class="left-nav-link" ng-class="{true: 'active', false: ''}[currentPage == 'logs']">
		<a title="Debug rules, SQL" href="#/projects/{{currentProject.ident}}/logs">Logs</a></td></tr>

	<tr><td class="left-nav-header">REST API</td></tr>
	<tr><td class="left-nav-link">
		<a title="Create by connecting to a database" href="#/projects" id="leftNavProjects" ng-click="connectWizard();">Create...</a></td></tr>
	<tr><td class="left-nav-link leftBarResources-short" ng-class="{true: 'active', false: ''}[currentPage == 'resources']" id="leftBarResources">
		<a title="Nested endpoints, select/alias columns" href="#/projects/{{currentProject.ident}}/resources">Custom Resources</a></td></tr>

	<tr><td class="left-nav-header">Integrate</td></tr>
	<tr><td class="left-nav-link leftBarIntegrate-short" ng-class="{true: 'active', false: ''}[currentPage == 'databases']" id="leftBarIntegrate">
		<a title="SQL, NoSQL, ERP, REST" href="#/projects/{{currentProject.ident}}/databases">Data Sources</a></td></tr>

	<tr><td class="left-nav-header">Enforce</td></tr>
	<tr><td class="left-nav-link" ng-class="{true: 'active', false: ''}[currentPage == 'rules']" id="leftBarRules">
		<a title="Multi-table derivations and validations, events" href="#/projects/{{currentProject.ident}}/rules">Rules&nbsp;/&nbsp;JS</a></td></tr>
	<tr><td class="left-nav-link leftBarRoles-short" ng-class="{true: 'active', false: ''}[currentPage == 'roles']" id="leftBarRoles">
		<a title="Row, Col Security" href="#/projects/{{currentProject.ident}}/roles">Security</a></td></tr>
</table>
<table>
	<tr>
		<td class="evalModeContainer">
			<span ng-click="toggleEvalMode();">Short&nbsp;Menu</span>
			<input id="evalModeInput" type="checkbox" ng-click="toggleEvalMode();" ng-model="params.evalMode"/>
		</td>
	</tr>
</table>
</div>
