	<div class="modal-header">
		<img src="images/EspressoLogicLogoColor.png" style="width: 190px; height: 53px;" />
		<span style="font: 30pt sans-serif; color: #31868E; padding-left: 50px;">Author Login</span>
	</div>
	<div style="padding: 20px; font-size: 12pt;">
		To activate Author Mode, you must log in with your 
		<span style="color: #FFFFFF; background: #606060; padding: 3px;">administrator</span>
		user name and password. For most people, the user name and the password
		will be from the registration email you received from Espresso when you created your account.
	</div>
        <form role="form">
	<div class="modal-body" style="padding-left: 50px;"  ui-keypress="{enter: 'login()'}">
			<div class="form-group row">
				<div class="col-lg-10">
					<label for="userName">Admin user name:</label>
					<input ng-trim='false' tabindex="1" id="userName" type="text" class="form-control" ng-model="adminLogin.userName" 
						placeholder="Your Espresso Logic admin user name" />
				</div>
			</div>
			<div class="form-group row">
				<div class="col-lg-10">
					<label for="password">Admin password:</label>
					<input ng-trim='false' tabindex="2" id="password" type="password" class="form-control" ng-model="adminLogin.password" 
						ng-hide="adminLogin.showPassword" />
					<input ng-trim='false' id="clearPassword" type="text" class="form-control" ng-model="adminLogin.password" 
						ng-hide="!adminLogin.showPassword" ui-keypress="{enter: 'adminLogin.login()'}" autocomplete="off"/>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-lg-10">
					<label for="showPassword">Show password</label>
					<input ng-trim='false' type="checkbox" id="showPassword" ng-model="adminLogin.showPassword" />
				</div>
			</div>
			<div style="color: #FFFFFF; background-color: #81F781; padding: 5px;" ng-hide="!errorMessage">{{adminLogin.statusMessage}}</div>
			<div class="alert alert-danger" ng-hide="!adminLogin.errorMessage">{{adminLogin.errorMessage}}</div>
	</div>
	<div class="modal-footer">
		<button ng-click="adminLogin.login()" type="submit" id="loginButton" class="btn btn-primary pull-right" >Log in as Author</button>
		<button ng-click="adminLogin.cancelLogin()" class="btn btn-default pull-right" style='margin-right: 10px;'>Cancel</button>
	</div>
        </form>