<div class="home-view" style="height: 100%;">
<h1 style="color: #3C7177; text-align: center;">Espresso Designer Home</h1>

<tabset style="height: 100%;">
	<tab heading="Welcome" active="data.tabStates.welcome">
<h3>Espresso in a nutshell</h3>
<br/><br/>
<table class="table border-left-none border-right-none" border="1" bordercolor="#888" cellspacing="0" style="border-width:1px;border-color:rgb(136,136,136);border-collapse:collapse">
<tr>

<td>
<a onclick="return showVideo('https://player.vimeo.com/video/117102959')" 
	href="#"><img id="image-arch-1min" src="images/image-arch-1min-thumb.png" border="0"  width="400" alt="" /></a> 

</td>

<td>

For the truly impatient, here is a 58-second video showing how to build a server:
<br/><br/>
<ol>
<li><strong>REST API</strong> Connect to your database for a default API -<br/>point and click customization <br/><br/></li>
<li><strong>Integrate</strong> Multiple Data Sources and Tables -<br/> point and click<br/><br/></li>
<li><strong>Enforce</strong> Business Policy for Logic and Security -<br/> Rules and JavaScript</li>
</ol>

And, use the <strong>Live Browser</strong> for API Visualization and Back Office Data Maintenance.
</td>
</tr>
</table>

<br/><br/>	
	
	<h4>Architecture</h4>
	A quick overview of the key components:
	<br/><br/>

<table class="table border-left-none border-right-none" border="1" bordercolor="#888" cellspacing="0" style="border-width:1px;border-color:rgb(136,136,136);border-collapse:collapse">
	<tr>
	<td>
			<img id="image-arch-welcome" src="images/espresso-architecture.png" border="0"  width="400" alt="" />
		
	</td>
	<td>
	Espresso simplifies and accelerates creating RESTful servers, 
with declarative definition of the services typically found in an App Server:<br/><br/>

<ol>

<li><strong>Security: </strong>controls end-point access, and row/column security.
<br/><br/></li>
 

<li><strong>API: </strong>point-and-click document-oriented endpoints, complementing the default API
<br/><br/></li>
 

<li><strong>Logic: </strong>database integrity with a combination of spreadsheet-like Rules and server-side JavaScript.
<br/><br/></li>
 
<li><strong>Integration:  </strong>resources can combine data from multiple sources (SQL, Mongo and RESTful), and coordinate updates between them.
<br/><br/></li>

</ol>
Specify your settings in the <b>Designer</b>;  activation is instantaneous - 
no code gen, no deployment.<br/><br/>
Use the <strong>Live Browser</strong>, created from the schema, to test your API, and for back-office database maintenance.
<br/><br/>
<strong>Flexible Deployment - </strong> both the RESTful service and database can be 
in the cloud, or on-premise (VMware image).
<br/><br/>
Use your own existing database, or the pre-supplied empty database in the <strong>Your Database</strong> project.
	
	</td>
	</tr>
	</table>
		<br/><br/>
	
	<h4>Process</h4>
	Here's the basic process:
		<br/><br/>
	
<table class="table  border-left-none border-right-none" border="1" bordercolor="#888" cellspacing="0" style="border-width:1px;border-color:rgb(136,136,136);border-collapse:collapse">
	<tr>
	<td>
	<img id="image-process-welcome" src="images/usage-overview.png" border="0" width="400" alt="" />
	</td>
	<td>
The basic process is as follows:<br/><br/>

<ol>

<li><a href="http://docs.espressologic.com/docs/logic-designer/database" target="_blank"><strong>Connect</strong></a>
 Espresso to your SQL database.  You can then<br/><br/>
<ul>
<li>Use the <b>Live Browser</b> to browse and update your data<br/><br/>
<li>Use the <b>RESTlab</b> to test the default API (end-points for each table, view and stored procedure)
</ul>
<br/><br/></li>
 
<li>Then, use the Espresso Designer to specify  your API, Logic and Security<br/><br/>

	
	</td>
	</tr>
	
	</table>
	<br/>
	<br/>
	
<h3>Unboxing</h3>
We recommend the following steps to get started.<br/><br/>

<table class="table border-left-none border-right-none" border="1" bordercolor="#888" cellspacing="0" style="border-width:1px;border-color:rgb(136,136,136);border-collapse:collapse">
<tr>
<td><h4>Tour</h4>
</td>
<td>Starts automatically - strongly recommended.
</td>
</tr>
<tr>
<td><h4>Tutorial</h4>

</td>
<td>Review <a href = "https://sites.google.com/a/espressologic.com/projects/logic-demo" target="_blank">this short summary</a> of creating a project from scratch.
<br><br>Here is a useful 
<a href="http://docs.espressologic.com/docs/reference#TOC-Live-Logic" anchor="_blank">table of all the rules,</a> with quick examples of each. </td>
</tr>
<tr>
<td><h4>Creating your first project</h4>

</td>
<td>Ok, enough getting ready, time for some <em>do:</em>	 
<ul>
<li><a href="http://docs.espressologic.com/docs/logic-designer/database" target="_blank">connect Espresso to your database.</a></li>

<li>Verify your system is working with the REST Lab and the Live Browser</li>
</ul>
</td>
</tr>
<tr>
<td><h4>Videos</h4>

</td>
<td><a href="http://docs.espressologic.com/docs" target="_blank">These videos</a> 
introduce the key concepts, and provide important usage detail.
</td>
</tr>
</table>
	
	
	
	<br/>
	<br/>
	
	<h3>Exploring</h3>
	As you proceed, explore the following.<br/><br/>
	
<table class="table border-left-none border-right-none" border="1" bordercolor="#888" cellspacing="0" style="border-width:1px;border-color:rgb(136,136,136);border-collapse:collapse">
<tr>
<td><h4>Logic Tutorial</h4></td>
<td>The <a href="http://docs.espressologic.com/docs/tutorial" target="_blank">Logic Tutorial</a> 
provides a case-study oriented approach for learning the rules, and the key underlying patterns.<br/><br/>
Note the sample projects are provided - access them via the Project dropdown in the top center toolbar.</a>
</td>
<tr>
<td><h4>Events</h4></td>
<td>You will almost certainly need to complement your rules with JavaScript event handlers - 
<a href="http://docs.espressologic.com/docs/reference#TOC-JavaScript-Extension-Points" target="_blank">here's a useful table.</a>
</td>
</tr>
<tr>
<td><h4>GitHub</h4></td>
<td>You can find more samples, and security connectors, on GitHub.
</td>
</tr>
<tr>
<td><h4>Client Samples</h4></td>
<td>The Quick Ref Navigation Bar (on the left) shows important examples you can use in your code.
</td>
<tr>
<td><h4>Docs</h4></td>
<td>Reference - useful <a href="http://docs.espressologic.com/docs/reference"  target="_blank">index here.</a>
</td>
</tr>
</tr>

</table>

	<br/><br/>
	
	<h3>Key Do's and Don'ts</h3>
You will probably pick up API Creation quite quickly, since it's a point and click technique for building a commonly understood API.  
	Espresso's most unique feature is Reactive Programming for business logic, so it's important to be aware of that.
<br/><br/>
<table class="table border-left-none border-right-none" border="1" bordercolor="#888" cellspacing="0" style="border-width:1px;border-color:rgb(136,136,136);border-collapse:collapse">
<tr>
<td><h4>Don't</h4></td>
<td><h4>Do</h4></td>
</tr>
<tr>
<td><b>Code Logic in client</b></td>

<td><b>Specify Logic in Server</b> to:
<ul>
<li>Centralizes your logic for re-use, including for non-UI clients such as other systems.</li>
<li>Improves performance by reducing the amount of data which must be sent to the client</li>
</ul></td>
</tr>

<tr>
<td><b>Code Logic in Events</b></td>
<td><b><a href="http://docs.espressologic.com/docs/logic-designer/business-logic/event" target="_blank">Think Spreadsheet</a></b> - 

<em>Spreadsheet-like rules</em> are orders of magnitude more expressive than events
<br/><br/>
Event-driven programming is a common programming model, 
and fully supported so there are no boundaries on what you can address.
<br/><br/>
  
But it's a big mistake to use it instead of Reactive Programming spreadsheet-like rules.   
Reactive automates Change Detection / Propagation, which you do manually in event handlers.

<br><br>For example, it is a common error to do sum/count rollups in event handlers - 
sum/count rules are much easier, and are apt to perform better.</li>
</td>
</tr>
</table>

<br/><br/>
	
</tab>
	<tab ng-repeat="tab in data.userTabs" heading="{{tab.title}}" active="data.tabStates[tab.title]">
		<iframe height="90%" width="100%" ng-src="{{tab.url}}"></iframe>
	</tab>
	
	
	<tab heading="Architecture" ng-click="helpDialog('home', 'Help', localStorage['eslo-ld-learn-complete']);" 
			active="data.tabStates.architecture">

<!--   a href="http://docs.espressologic.com/docs/architecture" target="_blank" 
title="Connect prepares an executable User Interface and a RESTful API"   
trouble with live region starting ConnWiz - Max's last thought: onclick="$('#connectWizardButton').click(); return false;"
-->
<img id="image-arch" src="images/espresso-architecture.png" border="0"  usemap="#image-map-usage" alt="" />
<map name="image-map-usage" id="image-map-usage-id">

<area  alt="" title="Test it in an HTML5/CSS device"  shape="rect" coords="3,0,176,172" style="outline:none;" target="_blank"  ng-href="http://www.ipadpeek.com?url=http://demodev.espressologic.com/LiveBrowser/#/?serverName={{liveBrowserUrl}}&forceLogin=true" />
<area  alt="" title="Live Browser - customizable, logic-aware multi-table UI, directly from your schema"  shape="rect" coords="376,1,499,184" style="outline:none;" target="_self" href="#/livebrowser" />
<area  alt="" title="Connect any client to the RESTful API - test it in the REST Lab"  shape="rect" coords="178,0,353,172" style="outline:none;" target="_self"  ng-href="#/projects/{{currentProject.ident}}/restlab"    />
<area  alt="" title="Live Browser - customizable, logic-aware multi-table UI, directly from your schema"  shape="rect" coords="376,1,499,184" style="outline:none;" target="_self" href="#/livebrowser"     />

<area  alt="" title="Espresso Designer - you're in it now"  shape="rect" coords="0,331,63,418" style="outline:none;" target="_self"     />

<area  alt="" title="Control access to server and data"  shape="rect" coords="73,235,207,294" style="outline:none;" target="_self" ng-href="#/projects/{{currentProject.ident}}/roles"    />
<area  alt="" title="Authenticate users, using a default or custom Authentication Provider"  shape="rect" coords="206,236,470,266" style="outline:none;" target="_self"  ng-href="#projects"   />
<area  alt="" title="End Point Access Control, Role-based Row/Column Security"  shape="rect" coords="207,266,469,293" style="outline:none;" target="_self" ng-href="#/projects/{{currentProject.ident}}/roles"    />

<area  alt="" title="RESTful API endpoints (resources)"  shape="rect" coords=73,307,204,367" style="outline:none;" target="_self"  ng-href="#/projects/{{currentProject.ident}}/resources"    />
<area  alt="" title="Default Resources - tables, views and procedures from schema"  shape="rect" coords="207,308,468,338" style="outline:none;" target="_self"  ng-href="#/projects/{{currentProject.ident}}/schema"    />
<area  alt="" title="Custom Multi-table Resources - choose/alias columns"  shape="rect" coords="207,336,468,366" style="outline:none;" target="_self"  ng-href="#/projects/{{currentProject.ident}}/resources"    />

<area  alt="" title="Business Logic for RESTful updates"  shape="rect" coords="73,379,204,440" style="outline:none;" target="_self"  ng-href="#/projects/{{currentProject.ident}}/rules"     />
<area  alt="" title="Spreadsheet-like expressions"  shape="rect" coords="206,379,469,411" style="outline:none;" target="_self"  ng-href="#/projects/{{currentProject.ident}}/rules"     />
<area  alt="" title="JavaScript Events"  shape="rect" coords="207,411,470,440" style="outline:none;" target="_self"  ng-href="#objmodel"     />

<area  alt="" title="Integrate Systems"  shape="rect" coords="74,452,204,509" style="outline:none;" target="_self"  ng-href="#integration"     />
<area  alt="" title="Multi data-source resources"  shape="rect" coords="204,452,468,484" style="outline:none;" target="_self"  ng-href="#/projects/{{currentProject.ident}}/resources"    />
<area  alt="" title="Synchronize Updates"  shape="rect" coords="205,482,468,511" style="outline:none;" target="_self"  ng-href="#integration"     />

<area  alt="" title="SQL Databases - cloud or on-premise"  shape="rect" coords="20,530,165,676" style="outline:none;" ng-click="goToDb();" href="javascript:void(0)"/>
<area  alt="" title="Connect to other RESTful servers - for retrieval or update"  shape="rect" coords="174,531,368,676" style="outline:none;" target="_self"     />
<area  alt="" title="Mongo NoSQL Databases - combine / synchronize with SQL data"  shape="rect" coords="362,530,500,676" style="outline:none;" ng-click="goToDb();" href="javascript:void(0)"/>
</map>
<br/>

<br/><br/><br/> 

<br>Espresso Logic enables you to rapidly deploy a REST/JSON service, using<br><br>

<ol>
<li><b>Business Rules</b> for integration, logic and security - meaningful reductions in tedious and repetitive code<br><br></li>
<li>Server-side <b>JavaScript</b> for integrating enterprise data, complex logic - whatever is required</li>
</ol>
<br><br>

Espresso Logic is a service, so there's nothing to install or configure.   
It consists of two main components:<br><br>
<ol>
<li>Use the <strong>Espresso Designer</strong> (you're in it now) to manage your 
<a href="http://docs.espressologic.com/docs/logic-designer/project" target="_blank"><strong>Project</strong></a>
<ol>
<li>A project corresponds to a RESTful service:
<ol>
<li>It is the grouping of your database location, and your API, security, integration and rule settings.  </li>
<li>Your account can include many projects</li> 
<li>They are all running, but you manage the contents of only the <em>current project</em>  
at one time, selected via the combo box at the top</li>
</ol></li>
<li>Create a new project (combo box at top) and connect to your database.  This creates a <b>default API and UI</b></li>
<li>Then use the Navigation Bar to the left (or click the diagram above) to specify 
your project settings (API, security, integration and rules)</li></ol><br><br>
</li>
<li>The <strong>Espresso Server</strong> (big box above)
<ol>
<li>stores these settings (you can import / export Projects as JSON)</li>
<li>and enforces them in the course of processing REST retrieval / update requests</li></ol></li>
</ol>


<a id="live-browser"></a>
<br><br><br>
<h5>Live Browser</h5>
The Live Browser is a multi-table HTML5 user interface:<br><br>
<ol>
<li>It is <b>automatically created</b> from your schema when you connect, and is responsive to schema changes<br><br></li>
<li>It <b>enforces your logic and security</b> since it uses your RESTful API.</li>
</ol>


<a id="live-api"></a>
<br><br>
<h5>Live API</h5>
When you connect, the system creates
<strong>Default End-points</strong>
for each table, view and stored procedure. You can control access using Security.
<br />
<br />

You can also define
<strong>Custom End-points</strong>, for example for custom apps, or for data integration Web Services.  
We have pre-created samples so you can explore them.
<br />
<br />

Observe:
<br />
<br />
<ol>
	<li>Custom Resources provide a <strong>tree-like document model</strong><br />
	<br /></li>
	<li>You can <strong>project / alias</strong> (rename) the objects and attributes, so your API is truly custom, not merely a
		flat reflection of your relational tables<br />
	<br /></li>
	<li>Logic and Security <strong>apply "underneath"" the RESTful API</strong>, so are enforced for Live Browser, or
		any RESTful API call, whether through default or Custom End-points<br />
	<br /></li>
	<li>Test them in the <strong>REST Lab</strong><br /></li>
</ol>

<br><br>


<a id="live-logic"></a>
<h5>Live Logic</h5><br>
<img  src="images/update-logic.png" border="0"  />
<br><br>
<ol>
	<li>Logic <strong>enforces database integrity</strong> on RESTful update requests - business rules for
		derivations, validations, integration, and events. <br />
	<br /></li>

	<li><a href="http://docs.espressologic.com/docs/logic-designer/business-logic" target="_blank"><strong>Reactive
						Logic</strong></a> is conceptually similar to spreadsheet cell formulas:
		<ul>
			<li>You bind expressions to database columns, e.g.
			<blockquote>
			<code><small>Derive balance as sum(purchaseorderList.amount_total where paid=false)</small></code>
			</blockquote>
			</li>
			<li><strong>Invocation is automatic</strong> - the <em>engine</em> (not your code) calls the logic - it never forgets</li>
			<li><strong>Automatic Change Propagation</strong> to dependent data (e.g., the balance is reduced when the order is paid)</li>
			<li><strong>Automated SQL</strong> and transaction bracketing for 
			Change Propagation to related tables </li>
		</ul>
		<br/>
		Reactive <strong>eliminates tedious code</strong> for Change Detection and Propagation, Persistence and Transaction
		Management.  As a result, a small handful of reactive logic is equivalent to <a
				href="http://www.espressologic.com/example-of-reactive-programming-vs-conventional-programming-for-database/"
				target="_blank"><strong>many hundreds of lines</strong></a> of conventional code.
		<br/><br/></li>
<a id="objmodel"></a>
		<li>
		Reactive works in conjunction with server side 
<a href="http://docs.espressologic.com/docs/reference#TOC-JavaScript-Extension-Points"  target="_blank"><strong>JavaScript</strong></a>,  
		based on an automatically created  
<a href="http://docs.espressologic.com/docs/logic-designer/rest-resources#TOC-Rows---JavaScript-Object-Model"  target="_blank"><strong>Object Model</strong></a> 
with attribute/object accessors, persistence, and events for insert, update and delete
<br /><br/>
<ul>
<li><strong>Extensible Rule Types</strong> can be built using your own JavaScript libraries (via Project settings).<br/></li>
</ul>

	<br /><br/></li>

	<li><strong>Check Credit is a typical example:</strong> it
		<ul>
			<li><strong>Adjusts</strong> the Customer Balance when Order Details are changed</li>
			<li><strong>Validates</strong> your data, with roll back and an error message (e.g., Credit Limit exceeded)</li>
			<li>More complex examples <a href="http://docs.espressologic.com/docs/tutorial" target="_blank"> here</a></li>
		</ul>
	</li>
</ol>

<br>
Click here for an <a href="http://docs.espressologic.com/docs/architecture/logic-execution" target="_blank" >more information on update operations,</a> 
or see the overview below.
<br>
<br>

Accessed via Live Logic in the Navigation Bar to the left, you can explore the logic in the sample projects::
<ol>
<li>First Look - Explore the logic in Espresso Logic Demo</li>
<li>Closer Look - Explore Espresso 
<a href="http://docs.espressologic.com/docs/tutorial" target="_blank">Logic Sample</a> for complex examples (e.g. Bill of Materials),
and logic patterns</li>
</ol>

<a id="database"></a>
<br><br>
<h5>Database</h5>
When you Connect to a database, 
you can specify a new cloud database,
or an <em>existing</em> database, located on-premise or in the cloud.


<br>
And, see the section below.  We've 
<a href="http://docs.espressologic.com/docs/logic-designer/database#TOC-Pre-created-Schema" target="_blank">pre-created</a> a database scehma and project for you.
 
 
 
 <a id="localdb"></a>
<br><br><br>
<h5>Pre-created Project and Schema</h5>
Espresso has been designed to work with your existing cloud / on-premise databases, as described above.  
Alternatively, you can start with a new, pre-created database:<br><br>

<ol>
<li><b>Pre-Created Database Schema</b> - an empty 
<a href="http://docs.espressologic.com/docs/logic-designer/database#TOC-Pre-created-Schema"  target="_blank">MySql Schema has been created</a>.
<br><br></li>

<li><b>Build your schema</b> - 
with a Database Tool (e.g., MySQLAdmin or PhpMyAdmin) to define your 
tables, columns and relationships.  See your registration email for
the connection parameters. <br><br></li>

<li><b>Pre-Created Project</b> - 
A Project has also been pre-configured to this database.  Select <code>Your Database</code> 
in the Project Combo Box (top of this window).</li>
</ol>
 
 
 
<a id="integration"></a>
<br><br><br>
<h5>Integration</h5>
Espresso provides a set of integration services to help you manage distributed information:<br><br>
<ol>
<li><b>Mashup</b> - 
You can define Resources that combine data from multiple Data Sources, whether SQL, RESTful or other.<br><br></li>

<li><b>Business Object Synchronization</b> - 
You can use Business Logic to 
<a href="http://docs.espressologic.com/docs/rest-apis/data-integration"  target="_blank">synchronize</a>  
sets of related rows (Business Objects) between Data Sources.
<ol>
​<li>You can <b>post</b> data to another server, for example regulatory compliance, or to post changes to an Enterprise Service Bus</li>

<li>You can <b>acquire</b> data from another source, both to use in processing a transaction, or to store locally (with rule enforcement)</li>
</ol>
</ol>

Synchronization services leverage Resources, where you can project / alias data to transform data to match external formats.  
Learn more about integration 
<a href="http://docs.espressologic.com/docs/rest-apis/data-integration" target="_blank"> here.</a>

<br>
<br/>
<br/>

 <a id="update-ops"></a>
 
<h4>Update Operation</h4>

This diagram illustrates how the Espresso Logic executes your business logic in response to 
REST <font face="courier new, monospace">post</font>/<font face="courier new, monospace">put</font>/<font face="courier new, monospace">delete</font> requests 
(see <a href="http://docs.espressologic.com/docs/architecture/logic-execution" target="_blank">here  for more information).</a> 
The update life cycle occurs at both the request and  
<a href="http://docs.espressologic.com/docs/logic-designer/rest-resources#TOC-Rows---JavaScript-Object-Model"  target="_blank"><strong>row</strong></a>
level:

<br/><br/>

<ol><li>The <b>Request Life Cycle</b> receives the request, marshals the JSON data into row objects, and initiates row logic processing. &nbsp;It also provides 2 events, each called once per request.<br>
<br>
</li>
<li>The <b>Row Logic</b> is called once for each marshaled row, and for logic chaining (e.g., sum/count adjustments). &nbsp;This runs your logic, and raises various events as shown.<br>
<br>
</li>
<li>The <b>Row Commit Logic</b> is a final pass through each row, invoking Commit Validations and Commit Events.</li>
</ol>


Row Events are passed row, oldRow and logicContext.

<br/><br/>

<img id="image-update-ops" src="images/update-ops.png" border="0"  alt="" />

	</tab>
	
	<tab heading="Process" ng-click="helpDialog('home', 'Help-Process', localStorage['eslo-ld-learn-complete']);"
			active="data.tabStates.process">
	<div class="well">
<img id="image-process" src="images/usage-overview.png" border="0" width="700" height="373" orgWidth="700" orgHeight="373" usemap="#image-process-map" alt="" />
<map name="image-process-map" id="image-process-map-id">
<area  alt="" title="SQL/NoSQL Databases - cloud or on-premise" shape="rect" coords="5,83,149,256" style="outline:none;" target="_self"  ng-href="#/projects/{{currentProject.ident}}/databases"    />
<area  alt="" title="Connect Database Wizard - creates Default API and Live Browser in your new project" shape="rect" coords="150,133,311,197" style="outline:none;" target="_self"  ng-href="#" ng-click="connectWizard();"    />
<area  alt="" title="Live Browser - logic-aware multi-table UI"  shape="rect" coords="350,2,488,102" style="outline:none;" target="_self"  	href="#/livebrowser"      />
<area  alt="" title="Test RESTful API in the REST Lab"  shape="rect" coords="367,121,485,219" style="outline:none;" target="_self"  ng-href="#/projects/{{currentProject.ident}}/restlab"    />
<area  alt="" title="Logic - Business Rules, JavaScript"  shape="rect" coords="360,239,487,367" style="outline:none;" target="_self"   ng-href="#/projects/{{currentProject.ident}}/rules"  />
<area  alt="" title="Custom Multi-table Resources - alias/project columns" shape="rect" coords="550,92,690,141" style="outline:none;" target="_self"   ng-href="#/projects/{{currentProject.ident}}/resources"   />
<area  alt="" title="End Point Access Control, Role-based Row/Column Security"  shape="rect" coords="548,186,692,228" style="outline:none;" target="_self"   ng-href="#/projects/{{currentProject.ident}}/roles"    />
<area  alt="" title="Logic - Business Rules, JavaScript"  shape="rect" coords="546,142,692,185" style="outline:none;" target="_self" ng-href="#/projects/{{currentProject.ident}}/rules"    />
</map>
</div>
	</tab>


	<tab heading="News{{newsNumNewItems}}" active="UrgentNews.length">

		<div ng-show="UrgentNews" style="margin-bottom: 20px;">
			<h5>Product News</h5>
				Check the 
				<a href="http://docs.espressologic.com/product-blog" target="_blank"><b>Product Blog</b></a> 
				for information on new features.
				<br/><br/>
			<h5 style="color: #FF0000;">
				Critical news
			</h5>
			<div ng-repeat="unews in UrgentNews" style="padding: 8px; margin: 8px;">
				<span style="font-size: 8pt; color: #888888; margin-bottom: 7px;">{{unews.start_date_formatted}}</span>
				<div ng-bind-html="unews.trustedHtml"></div>
			</div>
		</div>
		<div ng-show="!NormalNews">
			Fetching data...
		</div>
		<div ng-show="NormalNews && !NormalNews.length">
			No news
		</div>
		<div ng-show="NormalNews && NormalNews.length">
			<h5 ng-show="UrgentNews.length">
				Other news
			</h5>
			<table class="table-striped table-bordered">
				<tr ng-repeat="news in NormalNews">
					<td style="padding: 15px;">
						<span style="font-size: 8pt; color: #888888; margin-bottom: 9px;">{{news.start_date_formatted}}</span>
						<div ng-bind-html="news.trustedHtml" ></div>
					</td>
				</tr>
			</table>
		</div>
	</tab>
	
	<tab heading="Latest changes" active="data.auditVisible">
		<div class="panel panel-default">
		  <div class="panel-body">
		    Here are the latest changes in this project.
			<div style="float: right;">
				<label for="numAudits">Max&nbsp;records:&nbsp;</label>
				<select ng-model="data.numAudits" id="numAudits">
					<option value="20">20</option>
					<option value="50">50</option>
					<option value="200">200</option>
					<option value="500">500</option>
				</select>
		</div>
		  </div>
		</div>
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Action</th>
					<th>Object</th>
					<th>ID</th>
					<th>Time</th>
					<th>User</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody ng-repeat="item in data.LatestAudits">
				<tr>
					<td style="padding: 5px;">
						{{item.action}}
					</td>
					<td style="padding: 5px;">
						{{item.table_name}}
					</td>
					<td style="padding: 5px;">
						{{item.pk}}
					</td>
					<td style="padding: 5px;">
						{{item.ts}}
					</td>
					<td style="padding: 5px;">
						{{item.user_name}}
					</td>
					<td>
						<button class="btn btn-link" id="auditDetailButton{{item.ident}}" ng-click="flipAuditDetail(item.ident)">Show details</button>
					</td>
				</tr>
				<tr ng-show="data.showAudit[item.ident]">
					<td style="text-align: right;">Values:</td>
					<td colspan="5" style="background-color: #DDDDDD;">
						<pre>{{item.new_values}}</pre>
					</td>
				</tr>
				<tr ng-show="data.showAudit[item.ident] && item.old_values">
					<td style="text-align: right;">Old values:</td>
					<td colspan="5" style="background-color: #BBBBBB;">
						<pre>{{item.old_values}}</pre>
					</td>
				</tr>
			</tbody>
		</table>
	</tab>
</tabset>
</div>