<div class="row-fluid" ng-show="!$root.currentProject.authprovider_ident">
	Your current project does not use the default authentication provider.
	If you'd like to use the default authentication provider, you can go to the
	<a href="#/projects/{{currentProject.ident}}">Project page</a> and enable it there.
</div>
<div class="row-fluid" ng-show="$root.currentProject.authprovider_ident">

	<div class="col-md-3">
		<p style="font-size: 12pt;font-weight: normal;">MySQL Instances</p>	
		<select size="23" style="min-width: 100%;" ng-model="data.selectedInstance" 
					ng-options="instance.users_instance_name for instance in data.instances" 
					ng-change="instanceSelected(data.selectedInstance)" ></select>	

		<div class="CreateDeleteButtonContainer" style="height: 20%; float: bottom;">
			<button class="CreateDeleteButton" ng-click="createInstance()"><i class="icon-plus"></i></button>
			<button class="CreateDeleteButton" data-toggle="modal" href="#deleteInstanceDlg" ng-disabled="!data.selectedInstance"><i class="icon-minus"></i></button>
		</div>
	</div>
	<div class="col-md-9">
		<tabset>
			<tab heading="Instance info" active="true">
				<form role="form"  autocomplete="off">
					<div class="control-group">
						<label for="instanceName">Instance name:</label>
						<i class="glyphicon glyphicon-question-sign ContextHelpButton" ng-click="helpDialog('rds', 'InstanceName')"></i>									
						<input type="text" class="form-control" id="instanceName" placeholder="mysqldemo" ng-model="data.selectedInstance.users_instance_name" ng-disabled="data.selectedInstance.status != 'New Instance'" >
					</div>


					<div class="control-group">
						<label for="instanceName">Database name:</label>
						<i class="glyphicon glyphicon-question-sign ContextHelpButton" ng-click="helpDialog('rds', 'DatabaseName')"></i>							
						<input type="text" class="input-xlarge" id="name" placeholder="demo" ng-model="data.selectedInstance.name"  ng-disabled="data.selectedInstance.status != 'New Instance'" >
						&nbsp;
					</div>
					
					<div class="control-group">
						<label for="instanceClass">Instance Class:</label>
						<i class="glyphicon glyphicon-question-sign ContextHelpButton" ng-click="helpDialog('rds', 'InstanceClass')"></i>									
						<select data-ng-model="data.selectedInstance.instance_class">
        					<option ng-repeat="obj in rdsClassOptions" value="{{obj.value}}" title="{{obj.title}}" ng-selected="obj.value == data.selectedInstance.instance_class">{{obj.name}}</option>						
						</select>&nbsp;{{estClassCost[data.selectedInstance.instance_class]}}							
					</div>

					<div class="control-group">
						<label for="instanceClass">Storage (GB):</label>
						<i class="glyphicon glyphicon-question-sign ContextHelpButton" ng-click="helpDialog('rds', 'Storage')"></i>
						<select ng-model="data.selectedInstance.storage"  ng-options="gbStore for gbStore in [5, 10, 50, 100]"></select>
					</div>

					<div class="control-group">
						<label for="instanceHostName">Hostname / Endpoint:</label>
						<div class="form-control-static">{{data.selectedInstance.host_name  || 'will be assigned when created' }}<br>{{data.selectedInstance.portInfo}}
						</div>
					</div>
					
					<div class="control-group">
						<label for="adminName">Admin Login:</label>
						<i class="glyphicon glyphicon-question-sign ContextHelpButton" ng-click="helpDialog('rds', 'AdminLogin')"></i>								
						<input type="text" class="form-control" id="adminLogin" placeholder="admin" ng-model="data.selectedInstance.admin_login"  ng-disabled="data.selectedInstance.status != 'New Instance'" >
					</div>
					
					<div class="control-group" ng-hide="data.selectedInstance.status != 'New Instance'">
						<label for="instancePassword">Admin Password:</label>
						<i class="glyphicon glyphicon-question-sign ContextHelpButton" ng-click="helpDialog('rds', 'AdminPassword')"></i>
						<input type="password" class="form-control" id="instancePassword" ng-model="data.selectedInstance.admin_credentials" ng-disabled="data.selectedInstance.status != 'New Instance'" >&nbsp; (min 8 characters)
						&nbsp;
						<p>{{passwordError}}</p>
					</div>

					<div class="control-group">
						<label for="instanceActive">Status:</label>
						<i class="glyphicon glyphicon-question-sign ContextHelpButton" style="position:absolute;top: 5px;right:-25px;" ng-click="helpDialog('rds', 'Status')"></i>						
						<div class="form-control-static {{statusClass}}" style="margin-top: 4px; width:350px;position:relative;">
						 	{{data.selectedInstance.status}}
							<p>{{extraStatusInfo}}</p>
						</div>
					</div>
					<div class="control-group">
						<button class="btn btn-primary" ng-click="saveInstance()" style="margin-right: 5px;" title="Save any changes on this instance.">Save</button>
						<button class="btn" ng-click="rebootInstance()"  style="margin-right: 5px;" title="Reboot this instance.">Reboot</button>
						<a data-toggle="modal" href="#changePasswwordDlg" title="Change the master password on this instance."  class="btn btn-medium">Change Password</a>
					</div>
					<div class="control-group">
						<a data-toggle="modal" href="#takeSnapshotDlg"  style="margin-right: 5px;" title="Take a snapshot of this instance." class="btn btn-medium">Take Snapshot</a>
						<a data-toggle="modal" href="#restoreSnapshotDlg" title="Restore from a snapshot."  ng-click="fetchSnapshotNames(data.selectedInstance.instance_name);" class="btn btn-medium">Restore from Snapshot</a>
					</div>				
				</form>
			</tab>
		</tabset>
		
		<div id="takeSnapshotDlg" class="modal hide fade" style="display: none;width:450px;">
			<div class="modal-header">
				<a class="close" data-dismiss="modal">x</a>
				<h4>Take a Snapshot on {{data.selectedInstance.users_instance_name}}</h4>
			</div>
			<div class="modal-body">
			<label class="control-label" for="adminName">Name for this snapshot:</label>
			<div class="controls">
				<input type="text" class="input-large" id="snapShotName" ng-model="snapshotName" />
			</div>			
			</div>
			<div class="modal-footer">
				<button data-dismiss="modal" class="btn" ng-click="snapshotInstance()" ng-disabled="! snapshotName || snapshotName.length < 2 ">Take Snapshot</button>							
				<a href="#" class="btn" data-dismiss="modal">Cancel</a>
			</div>
		</div>
		
		
		<div id="deleteInstanceDlg" class="modal hide fade" style="display: none;width:450px;">

			<div class="modal-body" >
				<div class="modal-header">
					<a class="close" data-dismiss="modal">x</a>
					
				    <div class="alert alert-error">
						<h4>Delete {{data.selectedInstance.users_instance_name}}?</h4>
				    </div>				
					
				</div>
							
				<ul>
					<li>You are about to delete your &ldquo;<span style="font-weight: bold;">{{data.selectedInstance.users_instance_name}}</span>&rdquo; database?</li>
					<li>This will also delete all automated backups on this database.</li>
					<li>You will lose all the data on this database.</li>
					<li>Are you sure about this?</li>
				</ul>
				
				<p>To complete this action; please enter the word &ldquo;<span style="font-weight: bold;">confirmed</span>&rdquo; below.</p>
				<label class="control-label" for="adminName">Confirm It:</label>
				<div class="controls">
					<input type="text" class="input-large" id="deleteConfirmed" ng-model="deleteConfirmed" />
				</div>
			</div>
			
			<div class="modal-footer">
				<button data-dismiss="modal" class="btn" ng-click="deleteInstance()" ng-disabled="! deleteConfirmed || deleteConfirmed != 'confirmed'">Yes, Delete it!</button>							
				<a href="#" class="btn" data-dismiss="modal">Cancel</a>
			</div>
		</div>		
		
		
		<div id="restoreSnapshotDlg" class="modal hide fade" style="display: none;width:650px;">
			<div class="modal-header">
				<a class="close" data-dismiss="modal">x</a>
				<h4>Restore a new Instance from a Snapshot on {{data.selectedInstance.users_instance_name}}</h4>
				<h5>Please note that this action creates a new MySQL Instance with the Snapshot and new Name you provide here.</h5>
				<h5>It does not rollback this instance to the snapshot.</h5>
			</div>
			<div class="modal-body">
			<label class="control-label" for="adminName">Name of snapshot to restore from:</label>
			<div class="controls">
				<select ng-model="snapshotName"  ng-options="name for name in snapshotNames" title="pick the snapshot you want to restore from"></select>
				<label class="control-label" for="restoreAsInstanceName">Restore as instance name:</label>
				<input type="text" class="input-large" id="restoreAsInstanceName" ng-model="restoreAsInstanceName" title="this must be a new and unique instance name." />
			</div>	
					
			</div>
			<div class="modal-footer">
				<button data-dismiss="modal" class="btn" ng-click="restoreFromSnapshot()" ng-disabled="! snapshotName || snapshotName.length < 2 || snapshotName == noSnapshotAvailable || ! restoreAsInstanceName ">Restore from Snapshot</button>							
				<a href="#" class="btn" data-dismiss="modal">Cancel</a>
			</div>
		</div>		

		<div id="changePasswwordDlg" class="modal hide fade" style="display: none;width:450px;">
			<form autocomplete="off">
			<div class="modal-header">
				<a class="close" data-dismiss="modal">x</a>
				<h4>Change master password on {{data.selectedInstance.users_instance_name}}</h4>
			</div>
			<div class="modal-body">
			<label class="control-label" for="adminName">New master password (min 8 characters):</label>
			<div class="controls">
				
			<input id="masterpassword" type="password" class="input-xlarge" ng-model="masterUserPassword" ng-hide="showPassword" />
			<input id="clearPassword" type="text" class="input-xlarge" ng-model="masterUserPassword" ng-hide="!showPassword" ui-keypress="{enter: 'login()'}" spellcheck="false" autocomplete="off" />
			<label class="checkbox">
				<input type="checkbox" ng-model="showPassword" /> Show password
			</label>
							
				
			</div>			
			</div>
			<div class="modal-footer">
				<button data-dismiss="modal" class="btn" ng-click="setMasterUserPassword()" ng-disabled="! masterUserPassword || masterUserPassword.length < 8 ">Set Password</button>							
				<a href="#" class="btn" data-dismiss="modal">Cancel</a>
			</div>
			</form>
		</div>		
		

		
	</div>
</div>


